@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffca28;
  user-select: none;
}

.parent {
  position: relative;
  background-color: #272833;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  display: flex;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
}

.text {
  width: fit-content;
  text-align: center;
  margin-left: 10%;
  z-index: 100;
}

@media (max-width: 450px) {
  .text {
    width: 100%;
    margin: 0;
  }
}

h1 {
  color: #fff;
  font-size: 10rem;
  line-height: 1;
}

h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  background-color: #272833;
  width: fit-content;
  margin: auto;
}

.satellite {
  position: absolute;
  z-index: 90;
  width: 300px;
  top: 25%;
  right: 30%;
  animation: satellite 5s ease-in-out infinite alternate-reverse;
}

.moon {
  position: absolute;
  z-index: 70;
  width: 180px;
  right: 10%;
  top: 10%;
  /* animation: moon 8s ease-in-out infinite alternate-reverse; */
}

.earth {
  position: absolute;
  z-index: 80;
  width: 1000px;
  top: 100%;
  left: 100%;
  transform: translate(-80%, -35%);
  /* animation: earth 10s ease-in-out infinite alternate; */
}

.star {
  position: absolute;
  z-index: 10;
  font-size: 1rem;
  color: #ffca28;
}

.small-stars {
  font-size: 0.5rem;
  animation: stars 1s linear infinite alternate-reverse;
}

@keyframes stars {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes satellite {
  from {
    transform: translate(10%, 10%);
  }
  to {
    transform: translate(50%, 50%);
  }
}

@keyframes moon {
  from {
    opacity: 0.6;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes earth {
  to {
    transform: rotate(360deg);
  }
}
